* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #141414;
  min-height: 100vh;
  color: #fff;
}

body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d6d6d;
}
